<div class="herd-uti-benefits">
  <ul class="herd-uti-benefits__list">
    <li>Helps to restore desire naturally</li>
    <li>Convenient tasty &amp; discreet gummies</li>
    <li>Made specifically for women</li>
  </ul>
</div>

<style>
  .herd-uti-benefits {
    margin: 14px 0 18px;
  }
  .herd-uti-benefits__list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .herd-uti-benefits__list li {
    display: flex;
    align-items: center;
    padding: 6px 0;
    font-size: 15px;
    line-height: 1.4;
    color: #111;
  }
  .herd-uti-benefits__list li::before {
    content: "";
    display: inline-block;
    width: 18px;
    height: 18px;
    margin-right: 12px;
    flex-shrink: 0;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='%23198754' stroke-width='3' stroke-linecap='round' stroke-linejoin='round'><polyline points='20 6 9 17 4 12'/></svg>");
    background-repeat: no-repeat;
    background-size: 18px 18px;
    background-position: center;
  }
</style>
